fastapi
pandas
uvicorn
openai
chromadb
python-dotenv
jinja2
websockets
pymongo
requests
beautifulsoup4
langchain
langchain-community
langchain-cli
langchain-core
langchain-openai
langchain-groq
langchain-chroma
# git+https://github.com/openai/swarm.git